<!-- Imports polymer -->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../glycan-image/glycan-image.html">
<link rel="import" href="../marked-element/marked-element.html">
<!-- Defines element markup -->
<dom-module id="glycodigest-resultcard">
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
        paper-button.custom {
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

            --paper-button-ink-color: var(--paper-pink-a200);
            /* These could also be individually defined for each of the
              specific css classes, but we'll just do it once as an example */
            --paper-button-flat-keyboard-focus: {
                background-color: var(--paper-pink-a200);
                color: white !important;
            };
            --paper-button-raised-keyboard-focus: {
                background-color: var(--paper-pink-a200) !important;
                color: white !important;
            };
        }
        paper-button.red {
            background-color: #e2011b;
            color: white;
            --paper-button-raised-keyboard-focus: {
                background-color: var(--paper-pink-a200) !important;
                color: white !important;
            };
        }

        paper-toolbar {
            background-color: #e2011b;
        }

        paper-card {
            margin: 10px;
        }


    </style>
    <template>

        <iron-ajax
            id="structSearchCall"
            on-response="handleResponse"
            body = '{"glycoct":"{{structure}}"}'
            content-type="application/json"
            handle-as="json"
            method="POST"
            debounce-duration="300" last-response="{{callResponse}}"></iron-ajax>

        <paper-card elevation="2" class="custom">
            <paper-toolbar>
                <span class="title">{{title}}</span>
            </paper-toolbar>
            <div class="card-content">
                <div class="horizontal layout">
                    <glycan-image structure="{{structure}}" server="{{server}}" notation="{{notation}}"></glycan-image>
                    <div class="vertical layout">
                        <marked-element markdown="GlycoCT Encoded Structure" type="text/html">
                            <div class="markdown-html"> </div>
                        </marked-element>
                        <marked-element type="text/html" markdown="```html{{structure}}```"></marked-element>
                    </div>
                </div>
            </div>
            <div class="card-actions horizontal layout end-justified" hidden="{{hiddenAction}}">
                <paper-button raised id="connectButton" class="custom red" on-click="_goToGlyconnect"> GlyConnect </paper-button>
            </div>
        </paper-card>
    </template>
    <!-- Registers custom element -->
    <script>
        Polymer({
            is: 'glycodigest-resultcard',

            properties:{
                notation: String,
                server: {
                    type: String,
                    value: 'https://mendel.sib.swiss:8083'
                },
                structure:{
                    type: String,
                    observer: '_structureChanged'
                },
                digestionList: {
                    value: null,
                    type: String
                },
                title:{
                    type: String,
                    computed: '_computeTitle(digestionList)'
                },
                hiddenAction: {
                    type: Boolean,
                    value: true
                }
            },

            _structureChanged: function(){
                var call = this.$.structSearchCall;
                call.url = this.server + '/api/structures/search/glycoct ';
                call.generateRequest();
            },

            _computeTitle: function(digestionList){
                if(digestionList){
                    return "Applied Enzymes : "+this.digestionList;
                } else {
                    return "Undigested Structure";
                }
            },

            _goToGlyconnect: function(){
                var redirectWindow = window.open ("http://glyconnect.expasy.org/glycan/"+this.callResponse.id,'_blank');
                redirectWindow.location;
            },

            handleResponse: function() {
                this.hiddenAction = false;
            }
        });
    </script>
</dom-module>
